.trades-new {
  background-color: rgb(245, 245, 245);
  align-items: center;
  &-header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
      height: 50px;
      width: 200px;
    }
  }
  &-container {
    width:700px;
    margin:0 auto;
    background-color: rgb(255, 255, 255);
  }
}

.trades-new-buy-content {
  padding: 32px 16px;
  border-top: 1px solid #f5f5f5;
  &-inner {
    max-width: 343px;
    margin: 0 auto;
    h3 {
      float: left;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

/*---購入内容の確認---*/
.trades-new-buy {
  &__head {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 100px;
    padding: 32px;
  }
  &-alreay-submited {
    color:#ea352d;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3.5px;
  }
}

/*---商品詳細---*/
.trades-new-buy-item {
  &-box{
    display: flex;
  }
  &__image {
    display: flex;
  }
  &__detail {
    margin-left: 30px;
    &--name {
      font-size: 14px;
      padding: 0 0 8px;
      line-height: 1.5;
      text-align: left;
    }
  }
  &__price-ja {
    padding-top: 20px;
    font-size: 15px;
  }
}

/*---支払金額---*/
.trades-new-buy-price-table {
  margin: 20px 0;
  display: table;
  border-collapse: collapse;
  width: 100%;
  span {
    font-size: 22px;
  }
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
    text-align: right;
  }
}

/*---支払方法---*/
.trades-new-cash {
  margin: 30px 0;
  padding: 20px 0;
  border-top: 1px solid #f5f5f5;
  &__icon {
    float: right;
    color: #3CCACE;
  }
}
