.ecHeader{
  height: 100px;
  width: 100%;
  .tops-index-head{
    padding-top: 15px;
    margin: 0 auto;
    width: 70%;
    &-top{
      display: flex;
      &__icon{ 
        margin-right: 30px;
        border-radius: 4px;
        a{
          width: 140px;
          display: block;
          img{
            width: 100%; 
            height: auto; 
          }
        }
      }
      &__searchBox{
        margin-left: auto;
        width: 100%;
        .head__form--tag{
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          .head__search--input{
            width: calc(100% - 26px);
            height:36px;
            padding: 0 0 0 5px;
          }
          ::placeholder{
            font-size: 14px;
          }
          .head__search--input--btn{
            width: 36px;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    &-bottom{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      li{
        list-style: none;
      }
      a{
        text-decoration: none;
        color: #333;
      }
      &__item{
        display: flex;
      }
      &__user{
        display: flex;
      }
      &__Left {
        width:100px;
        font-size: 14px;
        height:44px;
        line-height: 44px;
        padding:0 10px;
      }
      &__Right {
        width:100px;
        font-size: 14px;
        height:44px;
        line-height: 44px;
        padding-left: 20px;
      }
      
    } 
  }
}
.categories{
  width:100px;
  font-size: 14px;
  height:44px;
  line-height: 44px;
  padding:0 10px;
}
.category-tree{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 1;
  width: 780px;
  position: relative;
  &__parent{
    background-color: #fff;
    text-decoration: none;
    display: block;
    width: 200px;
    font-size: 14px;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    position: absolute;
    &--list{
      padding:0 10px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
    &--list:hover{
      background-color:#3CCACE;
    }
  }
  &__child{
    background-color: #fff;
    display: block;
    width: 200px;
    font-size: 14px;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 200px;
    position: absolute;
    &--list{
      padding:0 10px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
    &--list:hover{
      background-color: #3CCACE;
    }
  }
  &__grand-child{
    background-color: #fff;
    display: block;
    min-width: 200px;
    font-size: 14px;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 400px;
    position: absolute;
    &--list{
      padding:0 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    }
    &--list:hover{
      background-color: #3CCACE;
    }
  }
}
.brands{
  width:100px;
  padding-left:20px;
  height:44px;
  line-height: 44px;
  padding:0 10px;
}
.brand-tree{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  z-index: 1;
  width: 780px;
  position: relative;
  &__item{
    background-color: #fff;
    text-decoration: none;
    display: block;
    max-width: 224px;
    font-size: 14px;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    position: absolute;
    &--list{
      padding:0 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    }
  }
}